#DATE_COUNTER {
  width: fit-content;
  height: fit-content;
  margin: auto;
  /* display: grid; */
  grid-template-columns: 75% 20%
}

#DATE_COUNTER_TEXT_GROUP {
  width : fit-content;
  height : fit-content;
  white-space: pre
}

#DATE_COUNTER_TITLE {
  font-size : 20pt;
}

#DATE_COUNTER_COUNTDOWN_TEXT {
  font-size: 20pt;
}

#DATE_COUNTER_ICON {
  width: fit-content;
  height: fit-content;
  margin:auto;
}


#DATE_COUNTER_ICON img {
  opacity: 0.5;
  border-radius: 50%;
  height: 75px;
  width: 100px;
  border-radius: 36px;
} 